* {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
/* #cartoonImg{
	position: absolute;
	left: -70px;
	bottom: 0px;
	width: 421px;
	height: 699px;
	z-index: 3;
}
#giftImg{
	position: absolute;
	left: 230px;
	bottom: 0px;
	width: 296px;
	height: 163px;
} */
/* 抽奖部分 */
/* #titleImg{ */
	/* position: absolute;
	left: 630px;
	top: 0px;
	width: 617px;
	height: 214px;
	z-index: 2;
}
#turntable{
	position: absolute;
    left: 652px;
    top: 165px;
    width: 568px;
    height: 524px;
    z-index: 1;
}
#lotteryBtn{
	position: absolute;
	left: 869px;
    top: 367px;
	z-index: 2;
	width: 136px;
	height: 136px;
}
#hands_x0_y0_lotteryBtnFocus_{
	position: absolute;
	left: 850px;
    top: 355px;
	z-index: 2;
	width: 171px;
	height: 171px;
}
#ruleBtn, #hands_x0_y0_ruleBtnFocus_{
	position: absolute;
    left: 1140px;
    top: 190px;
    z-index: 4;
}
#prizeBtn, #hands_x0_y0_prizeBtnFocus_{
	position: absolute;
    left: 1140px;
    top: 405px;
    z-index: 4;
}
#ruleBox{
	width: 1280px;
	height: 720px;	
	position: absolute;
	left: 0px;
	top: 0px;
}
#hands_x0_y0_backBtnFocus_{
	width: 99px;
	height: 99px;	
	position: absolute;
	left: 945px;
    top: 70px;
}
#hands_x0_y0_prizeBackFocus_{
	position: absolute;
    left: 945px;
    top: 38px;
}
#telInput{
	position: absolute;
    width: 260px;
    height: 40px;
    left: 405px;
    top: 632px;
    /* border: 1px solid red; */
    /* line-height: 40px;
	text-align: center;
	font-size: 24px;
}
#hands_x0_y0_userPhoneFocus_{
	position: absolute;
    left: 380px;
    top: 612px;
}
#userInfo{
	position: absolute;
    left: 400px;
    top: 590px;
    font-size: 20px;
}
#zhongJSituation{
	position: absolute;
	left: 810px;
    top: 590px;
    font-size: 20px;
}
#hands_x0_y0_saveFocus_{
	position: absolute;
    left: 685px;
    top: 612px;
}
#hands_x0_y0_emptyFocus_{
	position: absolute;
    left:790px;
    top: 612px;
}
#prizeBox>#textTip{
	position: absolute;
    left: 540px;
    top: 690px;
    font-size: 20px;
}
#tipBG{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1280px;
	height: 1280px;
	z-index: 9;
}
#hands_x0_y0_tipImgFocus_{
	position: absolute;
    left: 526px;
    top: 502px;
    z-index: 9;
}


/* 奖品页 */
/* #hands_x0_y0_prizeBackBtnFocus_{
	position: absolute;
    left: 945px;
    top: 38px;
}
#prizeListTitle{
	position: absolute;
    left: 370px;
    top: 210px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
#prizeListTitle>span:nth-child(1){
	margin-right: 350px;
}
#prizeListBox{
	width: 780px;
    height: 300px;
    position: absolute;
    left: 200px;
    top: 250px;
    overflow: hidden;
}

#prizeListBox li{
	height: 25px;
	font-size: 20px;
	color: #fff;
}

#prizeListUL{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 780px;
}
#prizeListBox li>span:nth-child(1), 
#prizeListBox li>span:nth-child(2){
	display: block;
	width: 50%;
	text-align: center;
	float: left;
} 
   */