* {
	margin: 0rem;
	padding: 0rem;
	list-style: none;
	text-decoration: none;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: url(../img/signUpPage/pureBG@3x.png) no-repeat;
	background-size: 100% 100%;
	line-height: normal;
	overflow: hidden;
	background-attachment: fixed;
}

.logo {
	position: absolute;
	left: 0.3rem;
	top: 0.2rem;
	width: 2.16rem;
	height: 0.8rem;
}

.personalFiles_backBtn {
	width: 100%;
	height: 0.8533rem;
	display: flex;
	justify-content: center;
	margin-top: 0.2rem;
}

#backBtn {
	background: #4b84ed;
	/*background: #DDDDDD;*/
	width: 6.1333rem;
	height: 100%;
	border-radius: 0.0666rem;
	color: #fff;
	text-align: center;
	line-height: 0.8533rem;
	font-size: 0.4533rem;
}


/*个人档案*/

.personalFiles {
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 1.3rem;
	box-sizing: border-box;
}

.personalFilesInfo {
	width: 9.0666rem;
	height: 13.2rem;
	background: url(../img/personalFiles/textArea@3x.png) no-repeat;
	background-size: 100% 100%;
	margin: 0px auto;
	padding-top: 0.5rem;
	box-sizing: border-box;
}

.personalFiles_backBtn {
	width: 100%;
	height: 0.8533rem;
	display: flex;
	justify-content: center;
	margin-top: 0.2rem;
}

.personalFilesInfo>.title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.64rem;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #32247c;
}

.presonalFiles_list {
	margin-top: 0.6rem;
	color: #4c3d9a;
	padding-left: 1.2rem;
	box-sizing: border-box;
}

.presonalFiles_list>li {
	display: flex;
	font-size: 0.4rem;
	margin-bottom: 0.1rem;
	align-items: center;
}

.presonalFiles_list>li>span:nth-child(1) {
	font-weight: 600;
	margin-right: 0.2rem;
}

.canvass_voteBtn {
	display: flex;
	justify-content: space-between;
	padding-left: 0.8rem;
	padding-right: 1rem;
	box-sizing: border-box;
}

.canvass_voteBtn>li {
	width: 3.2rem;
	height: 0.8rem;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.canvass_voteBtn>li img {
	width: 100%;
	height: 100%;
}

.voteNumInfo {
	display: flex;
	justify-content: flex-end;
	padding-right: 1rem;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	box-sizing: border-box;
}

.voteNumInfo>li:nth-child(1) {
	margin-right: 0.5rem;
}

.presonalFiles_picShow {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;	
}

.presonalFiles_picShow>li {
	width: 3.4rem;
	height: 1.85rem;
	border-radius: 0.1066rem;
	margin-bottom: 0.12rem;
	position: relative;
}

.presonalFiles_picShow>li>img:nth-child(1) {
	width: 100%;
	height: 100%;
}
.fullScreenBtn{
	position: absolute;
    right: 0.1rem;
    bottom: 0.1rem;
    width: 0.7333rem;
    height: 0.7333rem;
}


/*iphone6/7/8 plus适配*/

@media screen and (min-device-width: 414px) and (device-height: 736px) {
	.personalFiles {
		padding-top: 1.1rem;
	}
	.presonalFiles_list {
		margin-top: 0.4rem;
	}
	.presonalFiles_list>li {
		margin-bottom: 0.05rem;
	}
	.canvass_voteBtn>li {
		width: 3rem;
		height: 0.7rem;
	}
	.voteNumInfo {
		margin-top: 0.05rem;
		margin-bottom: 0.05rem;
	}
	.personalFilesInfo {
		height: 12.9rem;
	}
	.personalFiles_backBtn {
		margin-top: 0.1rem;
	}
}