* {
	margin: 0rem;
	padding: 0rem;
	list-style: none;
	text-decoration: none;
}

html,
body {
	height: 100%;
	width: 100%;
	background: url(../img/mainPage/pureBG@3x.png) no-repeat center;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.mainBJ {
	height: 100%;
	width: 100%;
	padding-top: 0.95rem;
	padding-left: 0.3333rem;
	padding-right: 0.3333rem;
	box-sizing: border-box;
	position: relative;
}

.titlePic {
	width: 100%;
	height: 3.4666rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.2rem;
}

.titlePic img {
	width: 7.68rem;
	height: 100%;
}

.introduction {
	width: 100%;
	height: 8.2rem;
	padding-left: 1.2266rem;
	padding-right: 1.2rem;
	padding-top: 0.8rem;
	box-sizing: border-box;
	background: url(../img/mainPage/textArea@3x.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 0.32rem;
}

.mainBtn {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#signUpBtn,
#voteBtn,
#agreementBtn {
	width: 2.9333rem;
	height: 0.6933rem;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

#signUpBtn img,
#voteBtn img,
#agreementBtn img {
	width: 100%;
	height: 100%;
}

.introduction .title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.64rem;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #32247c;
}

.solid_dashed {
	width: 100%;
    padding-left: 0.05rem;
    padding-right: 0.55rem;
    box-sizing: border-box;
    margin-top: 0.1rem;
}

.solid_dashed .solid_line {
	display: block;
	width: 100%;
	height: 0rem;
	border-bottom: 3px solid #4c3d9a;
}

.solid_dashed .dashed_line {
	display: block;
	width: 100%;
	height: 0rem;
	border-bottom: 2px dashed #4c3d9a;
	margin-bottom: 0.08rem;
}



.bottomPic {
	position: absolute;
	left: calc(50% - 2.9rem);
	bottom: 0rem;
	width: 5.8rem;
	height: 3.8rem;
}
.bottomPic img{
	width: 100%;
	height: 100%;
}

.babyPic{
	margin-top: 0.2rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
    height: 3.8rem;
}

.babyPic img{
	width: 100%;
	height: 100%;
}
.logo{
	position: absolute;
    left: 0.3rem;
    top: 0.2rem;
    width: 2.16rem;
    height: 0.8rem;
}

/*导入字体*/


/*@font-face {
	font-family: myFirstFont;
	src: url(../fonts/hkytW3.TTF);
}

@font-face {
	font-family: mySecondFont;
	src: url(../fonts/hkytW5.TTF);
}

@font-face {
	font-family: myThirdFont;
	src: url(../fonts/hkytW7.TTF);
}

@font-face {
	font-family: myFourthFont;
	src: url(../fonts/hkytW9.TTF);
}*/