*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#main{
    position: relative;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
    background: url(../img/shortVideoBG.jpg) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
/* 标题列表 */
#videotitleList{
    position: absolute;
    left: 670px;
    top: 120px;
    width: 500px;
    height: 500px;
    padding-left: 50px;
    box-sizing: border-box;
    color: #003583;
    font-size: 20px;

}
#videoTitle0,#hands_x0_y0_videoTitleFocus0_,
#videoTitle1,#hands_x0_y0_videoTitleFocus1_,
#videoTitle2,#hands_x0_y0_videoTitleFocus2_,
#videoTitle3,#hands_x0_y0_videoTitleFocus3_,
#videoTitle4,#hands_x0_y0_videoTitleFocus4_,
#videoTitle5,#hands_x0_y0_videoTitleFocus5_{
    width: 450px;  
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis; 
}
#videoTitle0,#hands_x0_y0_videoTitleFocus0_{
    position: absolute;
    left: 50px;
    top: 55px;    
}
#videoTitle1,#hands_x0_y0_videoTitleFocus1_{
    position: absolute;
    left: 50px;
    top: 130px;
}
#videoTitle2,#hands_x0_y0_videoTitleFocus2_{
    position: absolute;
    left: 50px;
    top: 205px;
}
#videoTitle3,#hands_x0_y0_videoTitleFocus3_{
    position: absolute;
    left: 50px;
    top: 280px;
}
#videoTitle4,#hands_x0_y0_videoTitleFocus4_{
    position: absolute;
    left:50px;
    top: 355px;
}
#videoTitle5,#hands_x0_y0_videoTitleFocus5_{
    position: absolute;
    left: 50px;
    top: 425px;
}
/* 焦点样式 */
.onFocus{
    font-weight: bold;
	border: 5px solid yellow;
}


/* 翻页 */
#turnPage{
    position: absolute;
    left: 835px;
    top: 620px;
    color: #003583;
    font-size: 20px;
    width: 100%;
}
#lastPageBtn{
    position: absolute;
    left: 0px;
    top: 0px;
}
#hands_x0_y0_lastPageBtnFocus_{
	position: absolute;
    top: -5px;
    left: 0px;
}
#pageNum{
    position: absolute;
    left: 100px;
    top: 0px;
}
#nextPageBtn{
    position: absolute;
    left: 135px;
    top: 0px;
}
#hands_x0_y0_nextPageBtnFocus_{
	position: absolute;
	left: 120px;
    top: -5px;
}
.totalNum{
	position: absolute;
    left: 260px;
    top: 0px;
}
