.main{

    width: 1280px;

    height: 720px;

    position: absolute;

    top: 0;

    left: 0;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background: url("../images/main/bg618.jpg")no-repeat;

}

#eyesDiv{

    width: 343px;

    height: 61px;

    position: absolute;

    top: 185px;

    left: 660px;

}

#eyesDiv #firstEye{

    width: 68px;

    height: 59px;

    position: absolute;

    top: 0;

    left: 0;

    background: url("../images/main/eyes0.png")no-repeat;

}

#eyesDiv #secondEye{

    width: 68px;

    height: 59px;

    position: absolute;

    top: 0;

    right: 0;

    background: url("../images/main/eyes0.png")no-repeat;

}

#rulePng{

    width: 267px;

    height: 193px;

    position: absolute;

    top: 225px;

    left: 100px;

    background: url("../images/main/rule.png")no-repeat;

}

#rankList{

    width: 267px;

    height: 180px;

    position: absolute;

    top: 0;

    left: 0;

    color: red;

    font-size: 20px;

    line-height: 20px;

    text-align: center;

}

#rankList .listDiv{

    width: 267px;

    height: 20px;

    margin: 0;

    padding: 0;

    position: relative;

}

#rankList .listDiv .nameSpan{

    display: block;

    float: left;

}

#rankList .listDiv .prizeSpan{

    display: block;

    float: right;

}

.backImg{

    width: 100px;

    height: 100px;

    position: absolute;

    top: 15px;

    left: 1150px;

    background: url("../images/main/back.png");

}

#videoPng{

    width: 96px;

    height: 96px;

    position: absolute;

    top: 470px;

    left: 590px;

    background: url("../images/main/watch.png");

    visibility: hidden;

}

#startPng{

    width: 340px;

    height: 250px;

    position: absolute;

    top: 445px;

    left: 660px;

    background: url("../images/main/start0.png")no-repeat;

}

#chanceDiv{

    width: 50px;

    height: 50px;

    position: absolute;

    top: 455px;

    font-size: 28px;

    left: 787px;

    line-height: 50px;

    text-align: center;

}

#screenDiv{

    width: 458px;

    height: 222px;

    position: absolute;

    top: 250px;

    left: 599px;

}

#leftScreen{

    width: 200px;

    height: 300px;

    position: absolute;

    top: -35px;

    left: -25px;

    background: url("../images/main/IP/static/0.png");

}

#midScreen{

    width: 200px;

    height: 300px;

    position: absolute;

    top: -35px;

    left: 130px;

    background: url("../images/main/IP/static/0.png");

}

#rightScreen{

    width: 200px;

    height: 300px;

    position: absolute;

    top: -35px;

    left: 285px;

    background: url("../images/main/IP/static/0.png");

}

.myPrize{

    width: 90px;

    height: 168px;

    position: absolute;

    top: 400px;

    left: 0;

    background: url("../images/main/prize.png");

}

#confirmDiv{

    width: 1280px;

    height: 720px;

    position: absolute;

    top: 0;

    left: 0;

    visibility: hidden;

    /*background: url("../images/confirm/getPrize.png");*/

}

#littleTips{

    width: 510px;

    height: 50px;

    background: gray;

    opacity: 0.8;

    position: absolute;

    top: 185px;

    left: 435px;

    color: #eac124;

    border-radius: 15px;

    font-size: 34px;

    visibility: hidden;

    text-align: center;

}

/*****************************************我的奖品页******************************************/

.prizeMain{

    width: 1280px;

    height: 720px;

    position: absolute;

    top: 0;

    left: 0;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background: url("../images/prize/superFly8Prize.jpg")no-repeat;

}

#phoneText{

    width: 223px;

    height: 41px;

    position: absolute;

    top: 539px;

    left: 615px;

    line-height: 40px;

    font-size: 25px;

    font-weight: bolder;

    text-align: center;

    color: #fff;

}

#phoneInfo{

    width: 386px;

    height: 25px;

    position: absolute;

    top: 605px;

    left: 470px;

    line-height: 30px;

    font-size: 21px;

    font-weight: bolder;

    text-align: center;

    color: #fff;

}

#prizeDiv{

    width: 578px;

    height: 286px;

    position: absolute;

    top: 164px;

    left: 373px;

    text-align: center;

    line-height: 286px;

}

#prizeImg{

    margin-top: 10%;

}