*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main{
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background: url('../imgs/wangWangTeam/bgHMBB.jpg') no-repeat;
}

#winnerPhoneNum{
    position: absolute;
    top: 6px;color: white;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px;
    width: 240px;
}

#modal1PhoneNum{
    position: absolute;
    top: 6px;color: white;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px;
    width: 240px;
}

#winnerMessage{
    position: absolute;
    top: 652px;
    left: 640px;
    color: white;
    font-size: 20px;
}