<%- include ('../../components/header') %>
</head>
<body style="background:transparent ;position:absolute;">
<%
    basePageInfo.baseUrl = basePageUrl;
%>
<img id="bg" src="" />

<%- include('../../components/commJs') %>
<script src="<%= basePageUrl %>/js/district_threeRowPaging.js"></script>
<script>
    var districtObj = {};
    var commonPageInfo = basePageInfo.commonPageInfo;
    var districtPage = {
        contentId: CT.requestValue('contentId') || 186,
        pageInfo: commonPageInfo.pageInfo,
        recommend_1: commonPageInfo.recommend_1,        // 页面信息
        recommend_2: [],        //
        recommend_3: [],        // 焦点和vip角标
        imgUrl: "",             // 焦点图片
        freeImgUrl: '',         // 免费角标图片
        vipImgUrl: '',          // vip角标焦点图片
        /** 分类 */
        top: 10,                // 分类
        left: 100,               // 分类
        width: 222,             // 分类宽
        height: 114,            // 分类高
        interval: 0,           // 间隙
        /** 分类 */
        init: function(){
            var _this = this;
            // 页面信息
            if(commonPageInfo.recommend_3){
                _this.recommend_3 = commonPageInfo.recommend_3;
                _this.imgUrl = _this.recommend_3[0].recommendFocuspic && _this.recommend_3[0].recommendFocuspic.picPath;
                _this.vipImgUrl = _this.recommend_3[0].recommendLabelpic && _this.recommend_3[0].recommendLabelpic.picPath;
                _this.freeImgUrl = _this.recommend_3[0].recommendPic && _this.recommend_3[0].recommendPic.picPath;
            }
            // 生成页面
            _this.generatePage();
            /** 生成专区对象 */
            districtObj = new District({
                showArrow: false,
                domLeft: 50,                           // 第一个元素
                domTop: 120,                            // 第一个元素
                domHeight: 180,                         // 图片高
                domWidth: 180,                          // 图片宽
                intervalR: 20,                          // 右边间隙
                intervalD: 20,                          // 下边间隙
                imgUrl: _this.imgUrl,                   // 焦点图片
                freeImgUrl: _this.freeImgUrl,           // 免费角标图片
                vipImgUrl: _this.vipImgUrl,             // vip角标焦点图片
                arrowLeft : 1210,                       // 自定义箭头left
                classifyNum: _this.recommend_1.length,  // 分类数目
                showRightArrow: true,                   // 显示箭头
                showTitle: false,
                version: 5,
                rowNum : 3,                             //分页行数
                step: 6                                 //分页列数
            });
            districtObj.init();
        },
        /**
         * 初始化页面
         * */
        generatePage: function () {
            var _this = this;
            // 生成背景图
            if(_this.pageInfo.pageTemplateBgpic.picPath){
                CT.$("bg").src = AjaxConfig.imgUrl + _this.pageInfo.pageTemplateBgpic.picPath;
            }else {
                CT.$("bg").src = baseUrl + "/imgs/cartoonBg.jpg"
            }
            // 生成分类
            /*if(_this.recommend_1.length > 1){
                var doms = "";
                for(var i = 0; i < _this.recommend_1.length ; i++){
                    var dom =
                        '<div class="wrap">' +
                            '<div id="classify' + i + '" style="position: absolute; top: ' + _this.top + 'px; left: ' + (_this.left + i * _this.width + _this.interval) + 'px; width: ' + _this.width + 'px; height: ' + _this.height + 'px;">' +
                                '<img id = "classifyImg' + i + '" src = "' + AjaxConfig.imgUrl + _this.recommend_1[i].recommendPic.picPath + '"/>' +
                            '</div>' +
                            '<div id="hands_x0_y0_classifyFocus' + i + '_" class = "classifyFocus" style="position:absolute;z-index: 1;top: ' + _this.top + 'px; left: ' + (_this.left + i * _this.width + _this.interval) + 'px; width: ' + _this.width + 'px; height: ' + _this.height + 'px;">' +
                                '<img src="' + AjaxConfig.imgUrl + _this.recommend_1[i].recommendLabelpic.picPath + '" class="classifyImage" id="classifyFocus' + i + '" style="visibility: hidden; width: ' + _this.width + 'px; height: ' + _this.height + 'px;">' +
                            '</div>'+
                        '</div>'
                    doms += dom;
                }
                document.getElementsByTagName("body")[0].innerHTML += doms;
                for(var i = 0; i < _this.recommend_1.length; i ++){
                    var btn = {
                        id:"hands_x0_y0_classifyFocus" + i + "_",
                        //是否开启自动查询下一焦点功能
                        //enMove : false,
                        //clickHandler:'javascript:districtPage.toContentDetailUrl(' + (this.step * i + j) + ')',
                        otherFocusEvent:'javascript:districtObj.getData(' + i + ')',
                        //otherBlurEvent:'javascript:districtPage.stopText(' + (this.step * i + j) + ')',
                        //right:"hands_x0_y0_recommendFocus" + (this.step * i + j + 1) + "_",
                        //rightEvent:'javascript:navPage.midToRight(' + (this.step * i + j) + ')',
                        //upEvent:'javascript:navPage.midToPrePage(' + (this.step * i + j) + ')',
                        //downEvent:'javascript:navPage.midToNextPage(' + (this.step * i + j) + ')',
                        focusType: 7
                    };
                    buttons.push(btn);
                }
            }*/
        }
    };
    districtPage.init();

</script>
</body>
</html>