* {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#main {
	width: 1280px;
	height: 720px;
	position: relative;
	background: url(../img/main/mainBG.jpg) no-repeat;
	left: 0px;
	top: 0px;
	overflow: hidden;
}


/*左边IP*/

#leftIP {
	position: absolute;
	left: 80px;
	top: 240px;
	animation: leftIPAni 400ms alternate infinite;
	-webkit-animation: leftIPAni 400ms alternate infinite;
}

@keyframes leftIPAni {
	0,
	100% {
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
	}
	50% {
		transform: translateY(4px);
		-webkit-transform: translateY(4px);
		-ms-transform: translateY(4px);
	}
}

@-webkit-keyframes leftIPAni {
	0,
	100% {
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
	}
	50% {
		transform: translateY(4px);
		-webkit-transform: translateY(4px);
		-ms-transform: translateY(4px);
	}
}


/*开始按钮*/

#startBtn {
	position: absolute;
	left: 360px;
	top: 405px;
}

#hands_x0_y0_startBtnFocus_ img {
	position: absolute;
	left: 360px;
	top: 405px;
	visibility: hidden;
}


/*四大按钮*/

#lotteryBtn {
	position: absolute;
	left: 600px;
	top: 650px;
}

#hands_x0_y0_lotteryBtnFocus_ img {
	position: absolute;
	left: 580px;
	top: 630px;
	visibility: hidden;
}

#namelistBtn {
	position: absolute;
	left: 758px;
	top: 650px;
}

#hands_x0_y0_namelistBtnFocus_ img {
	position: absolute;
	left: 745px;
	top: 630px;
	visibility: hidden;
}

#ruleBtn {
	position: absolute;
	left: 918px;
	top: 650px;
}

#hands_x0_y0_ruleBtnFocus_ img {
	position: absolute;
	left: 902px;
	top: 630px;
	visibility: hidden;
}

#backBtn {
	position: absolute;
	left: 1074px;
	top: 650px;
}

#hands_x0_y0_backBtnFocus_ img {
	position: absolute;
	left: 1062px;
	top: 630px;
	visibility: hidden;
}

/* 没有机会弹窗 */
#noChance{
	position:absolute;
	left:0px;
	top:0px;
}
#hands_x0_y0_confirmFocus_ img{
	position: absolute;
    left: 440px;
    top: 450px;
    width: 200px;
    height: 80px;
	visibility:hidden;
}
#hands_x0_y0_cancelFocus_ img{
	position: absolute;
    left: 650px;
    top: 450px;
    width: 200px;
    height: 80px;
	visibility:hidden;
}