*{
    padding: 0;
    margin: 0;
 
}
body{
    width: 1280px;
    height: 720px;
    max-height: 720px;
    overflow: hidden;
    position: absolute;
    background: transparent;
}
html{
    width: 1280px;
    height: 720px;
    max-height: 720px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.btn{
    position: absolute;
    border-radius: 16px;
}
/*光标获焦时变大*/
.sacleBig{

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 1s ease;
    z-index: 1000;
}

/*显示隐藏*/
.focusFadeIn{
    -webkit-animation: fadeIn 1s infinite  linear;
    -o-animation: fadeIn 1s infinite  linear;
    animation: fadeIn 1s infinite  linear;
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0
    }
}

/*旋转360度*/
.rotate360 {

    -webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    -o-transition: -o-transform 1s ease-out;
    -ms-transition: -ms-transform 1s ease-out;
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}


/*放大缩小切换 */
.sacleBigToSmall{

    animation:sacleBigToSmall 1s infinite;
    -webkit-animation:sacleBigToSmall 1s infinite; /*Safari and Chrome*/
    animation-direction:alternate;/*轮流反向播放动画。*/
    animation-timing-function: ease-in-out; /*动画的速度曲线*/

}

@keyframes sacleBigToSmall
{
    0%{
        transform: scale(1);  /*开始为原始大小*/
    }
   /* 25%{
        transform: scale(1.1); !*放大1.1倍*!
    }
    50%{
        transform: scale(1);
    }*/
    75%{
        transform: scale(1.1);
    }

}

@-webkit-keyframes sacleBigToSmall /*Safari and Chrome*/
{
    0%{
        transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.1); /*放大1.1倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
}

/*跑马灯 ： 文字超出隐藏实现动画*/
.morePonts{
    /*overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}

.marquee_self {
    white-space: nowrap;
    -webkit-animation: marquee 3s linear infinite;
    animation: marquee 3s linear infinite;
}

@-webkit-keyframes marquee {
    0% {
        text-indent: 30px
    }
    100% {
        text-indent: -200px
    }
}

@keyframes marquee {
    0% {
        text-indent: 30px
    }
    100% {
        text-indent: -200px
    }
}
/*下架，直接添加className=putOff*/
.putOff:AFTER {
	content: "已下线";
	background:black;
	position: absolute;
	top: 10px;
	left:10px;
	color: white;
	font-size: 21px;
	text-align: center;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	line-height: 100px;
}

/** c3 */
.scaleTransform {
    animation: scaleToggle 2s linear;
}

@-webkit-keyframes scaleToggle {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@-moz-keyframes  scaleToggle{
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@-ms-keyframes scaleToggle {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@-o-keyframes scaleToggle {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes scaleToggle {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.bigTransform {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 1s ease;
    z-index: 50;
}
.freeBadge {
    position: absolute;
    top: 0;
    left: 0;
    width:59px;
    height: 30px;
    background: url(../images/freeBadge.png);
    border-radius: 16px 0 0 0;
}
/*新用户字体  倒计时*/
.newFont {
    width: 160px;
	height: 80px;
	position: absolute;
	top: 486px;
	left: 648px;
	font-size: 80px;
	line-height: 80px;
	color: #ffdd69;
	font-weight: 900;
    text-align: center;
}
/*老用户字体*/
.oldFont {
    width: 160px;
	height: 80px;
	position: absolute;
	top: 240px;
	left: 588px;
	font-size: 80px;
	line-height: 80px;
	color: #c22a10;
	font-weight: 900;
    text-align: center;
}